.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0e7ff, #f8fafc);
  font-family: Arial, sans-serif;
}

/* MAIN BOX */
.login-box {
  background-color: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* TITLE */
.login-box h2 {
  margin-bottom: 5px;
  color: #1e293b;
}

/* SUBTITLE */
.login-box p {
  margin-bottom: 20px;
  color: #64748b;
  font-size: 14px;
}

/* FORM */
.login-box form {
  display: flex;
  flex-direction: column;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #cbd5e1;
  outline: none;
  box-sizing: border-box; /* IMPORTANT FIX */
}

/* INPUT FOCUS */
.login-box input:focus {
  border-color: #2563eb;
}

/* BUTTON */
.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* BUTTON HOVER */
.login-box button:hover {
  background-color: #1d4ed8;
}

/* FOOTER */
.login-footer {
  margin-top: 15px;
  font-size: 14px;
}

.login-footer span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}
