/* SELLER BOOK CARD */

.seller-book-card {
  background-color: white;
  width: 180px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* IMAGE */
.seller-book-img {
  height: 130px;
  background-color: #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller-book-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-placeholder {
  font-size: 12px;
  color: #64748b;
}

/* TEXT */
.seller-book-card h4 {
  font-size: 14px;
  margin: 4px 0;
}

.author {
  font-size: 12px;
  color: #64748b;
}

.price {
  color: #2563eb;
  font-weight: bold;
  font-size: 14px;
}

.stock {
  font-size: 12px;
  color: #475569;
}

/* ACTIONS */
.seller-book-actions {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.edit-btn,
.delete-btn {
  flex: 1;
  padding: 6px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* EDIT */
.edit-btn {
  background-color: #38bdf8;
  color: white;
}

.edit-btn:hover {
  background-color: #0284c7;
}

/* DELETE */
.delete-btn {
  background-color: #f87171;
  color: white;
}

.delete-btn:hover {
  background-color: #ef4444;
}
