/* SELLER NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: #2563eb;
  color: white;
}

.nav-left h2 {
  margin: 0;
  font-size: 22px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-right a,
.nav-right .user-name {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-right a:hover {
  text-decoration: underline;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #f87171;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.logout-btn:hover {
  background-color: #ef4444;
}
